<div class="contact-container">
  <ng-container *ngFor="let contact of contacts">
    <div *ngIf="!contact.isDeleted" class="contact-item" [ngClass]="{ 'active': contact.isActive, 'favorite': contact.isFavorite, 'deleted': contact.isDeleted }">
      <p>
       <!--{{ contact | json }}--> 
       {{ contact.name }} <br> 
       {{ contact.mobilenumber }} <br>  
       {{ contact.isActive ? 'Active' : 'Not Active' }} <br>  
       {{ contact.isFavorite ? 'Favorite' : 'Not Favorite' }} <br>
       {{ contact.isDeleted ? 'Deleateed' : 'Not Deleated' }}
      </p>
    </div>
  </ng-container>
</div>
<div class="buttonContainer"></div>

