<h3 class="headerView">ADD NEW CONTACT FORM</h3>
<app-button-alert></app-button-alert>


<ng-container *ngIf="forms$ | async as forms">
    <ng-container *ngFor="let form of forms; index as i">
      <form [formGroup]="form" (ngSubmit)="log(form.value)">
        <fieldset>
          <legend>Form # {{ i + 1 }}</legend>
          <label>Mobile Number: <input formControlName="mobilenumber" /></label><br />
          <label>Name: <input formControlName="name" /></label><br />
          <label>Is Active: <input type="checkbox" formControlName="isActive" /></label><br />
          <label>Is Favorite: <input type="checkbox" formControlName="isFavorite" /></label><br />
          <label>Is Deleted: <input type="checkbox" formControlName="isDeleted" /></label><br />
          <div>
            {{ form.value | json }}
          </div>
          <div>
            {{ form.errors | json }}
          </div>
          <input
            type="submit"
            value="Submit {{ i + 1 }}"
            [disabled]="form.invalid"
          />
        </fieldset>
      </form>
    </ng-container>
  </ng-container>
  
