<div class="home-container row">
    <div class="photos-container col-8">
            <img src="./assets/photos/cat1.jpg" alt="cat">
            <img src="./assets/photos/cat2.jpg" alt="cat">
            <img src="./assets/photos/cat4.jpg" alt="cat">
            <img src="./assets/photos/cat7.jpg" alt="cat">
            <img src="./assets/photos/cat5.jpg" alt="cat">
            <img src="./assets/photos/cat6.jpg" alt="cat">
        <div>
            <img src="./assets/photos/cat3.jpg" alt="cat" class="image2"></div>
    
         </div>
        <div class="text-container">
            <h1>Why cats are more interesting than dogs!</h1>
            <p>Cats, beloved companions to humans for thousands of years, are intriguing creatures that captivate us with their mysterious and independent nature. <br> <br> These small, carnivorous mammals belong to the Felidae family and come in various breeds, each with its unique characteristics and charm.
                Known for their agility, cats are remarkable hunters, equipped with sharp retractable claws and keen senses. <br> <br>Their eyes, often adorned with vertical-slit pupils, are designed for excellent low-light vision, making them adept nocturnal hunters. The unmistakable purring sound they produce is not only a sign of contentment but also serves to heal and comfort them, acting as a form of self-soothing.
            <br><br><br> Want to learn more about cats? Say less!!!</p>
            <app-button></app-button>
        </div>
</div>
<div class="footercontainer">
    <app-bottom-nav></app-bottom-nav>
</div>
